---
import '../styles/global.css';
import '../styles/components.css';
import '../styles/print.css';
---
<!DOCTYPE html>
<html lang="en" data-theme="tekhelet">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>LivnatHasapir</title>
  <style>
    @font-face { font-family: 'EB Garamond'; font-style: normal; font-weight: 400; src: url('/fonts/eb-garamond-400.ttf') format('truetype'); }
    @font-face { font-family: 'EB Garamond'; font-style: normal; font-weight: 600; src: url('/fonts/eb-garamond-600.ttf') format('truetype'); }
    @font-face { font-family: 'EB Garamond'; font-style: italic; font-weight: 400; src: url('/fonts/eb-garamond-400-italic.ttf') format('truetype'); }
    @font-face { font-family: 'Noto Serif Hebrew'; font-style: normal; font-weight: 400; src: url('/fonts/noto-serif-hebrew-400.ttf') format('truetype'); }
    @font-face { font-family: 'Noto Serif Hebrew'; font-style: normal; font-weight: 600; src: url('/fonts/noto-serif-hebrew-600.ttf') format('truetype'); }
    @font-face { font-family: 'Noto Serif Hebrew'; font-style: normal; font-weight: 700; src: url('/fonts/noto-serif-hebrew-700.ttf') format('truetype'); }
  </style>
</head>
<body class="print-root">
  <main id="content">
    <slot />
  </main>
</body>
</html>
